.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: white;
    text-align: center;
    background-color: #092f50;
    border: 1px solid #092f50;
}
.container {width: 100% !important;}
.input-group-text {
    color: white !important;
    background-color: #092f50 !important;
    height: 30px;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    line-height: 30px;
    border-radius: 15px;
    margin-bottom: 5px;
    width: 250px;
}
.photoContainer {
    overflow: auto;
    height: auto;
    width: 100%;
    font-size: 20px;
}
.btn-outline-secondary{background-color: #092f50;color: #fff;margin-bottom: 10px;border-radius: 15px;}
.btn-outline-secondary:hover{background-color: #fff;color: ##092f50;}
.mb-2 {
    margin-bottom: 10px;
}